* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  /* 滚动条宽度 */
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  /* 滚动条的滑块样式 */
  background-color: #13afe345;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  /* 滚动条的背景颜色 */
  background: #0000;
}

/* 按钮样式 */
button {
  margin-left: 8px;
  padding: 4px 15px;
  height: 32px;
  color: #fff;
  font-size: 14px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: none;
  background-color: #1890ff;
  border: 1px solid #1890ff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
button:hover {
  border: 1px solid #40a9ff;
  background-color: #40a9ff;
}
/* 按钮事件触发样式 */
button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
  border: 1px solid #1890ff;
  box-shadow: none;
  outline: none;
}

/* 输入框样式 */
input {
  margin-left: 5px;
  height: 32px;
  font-size: 16px;
  text-indent: 10px;
  border: 1px solid #40a9ff;
}
input::placeholder {
  color: #ccc;
  font-size: 14px;
  font-style: italic;
}
input:focus,
input:active:focus,
input.active:focus,
input.focus,
input:active.focus,
input.active.focus {
  outline: none;
}
input[type="file"] {
  border: none;
}

/* 容器样式 */
.container {
  width: 100%;
  height: 100%;
}

/* 标题样式 */
.title {
  padding-left: 5px;
  display: flex;
  align-items: center;
  height: 34px;
  font-size: 16px;
}
.title > span {
  display: block;
  width: 3px;
  height: 12px;
  margin-right: 10px;
  background-color: #6e90ff;
}

.container > .topTip {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.topTip span {
  color: #f00;
}

/* 内容区域 */
.content {
  position: relative;
  /* padding-top: 20px; */
  display: flex;
  height: 600px;
}
.content > .left {
  width: 30%;
  height: 100%;
  background-color: #f002;
}
.content > .right {
  width: 70%;
  height: 100%;
  background-color: #09f2;
}
.content > .left > .leftData,
.content > .right > .rightData {
  padding: 14px 0px;
  width: 100%;
  height: calc(100% - 34px);
  box-sizing: border-box;
}

/*                                                表格头                                         */
/* 左侧表格头字段样式 */
.leftData {
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #09f;
}

/* 生成Excel按钮样式 */
.update {
  position: absolute;
  z-index: 100;
  left: 10px;
  bottom: -45px;
}

/* 更新预览页面 */
.submit {
  padding-left: 150px;
  padding-top: 13px;
}

/* 表单样式 */
.leftData > #form > .item {
  display: flex;
  align-items: center;
  height: 32px;
  margin-bottom: 14px;
}

#form > .item > div {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 52%;
  font-size: 14px;
}
.item > div:last-child input {
  width: 230px;
}

#form > .item > div:first-of-type {
  width: 43%;
}

/*                                                预览页面                                         */
/* 内容部分样式 */
.rightData {
  padding: 10px;
  /* width: 566px; */
  border: 1px solid #f00;
  background-color: #fff;
  overflow-x: scroll;
}

.rightData > table {
  border-spacing: 0;
  text-align: center;
  border-collapse: collapse;
}

/* 表头样式 */
thead > tr {
  background-color: #f2f2f2;
}
thead > tr > th {
  padding: 0px 15px;
  width: 70px;
  border: 1px solid #ddd;
}

/* 表格内容样式 */
tbody > tr > td {
  padding: 0px 15px;
  width: 70px;
  border: 1px solid #ddd;
}
