* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
}

/*                            边框流动                                   */
.box {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #090;
  overflow: hidden;
  border-radius: 4px;
}
.box:before {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  background: #778dff;
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    width: 20%;
    height: 0%;
    right: 0;
  }
  25% {
    width: 20%;
    height: 100%;
    right: 0;
  }
  50% {
    width: 20%;
    height: 100%;
    right: 50%;
  }
  75% {
    width: 20%;
    height: 100%;
    right: 90%;
  }
  100% {
    width: 20%;
    height: 0%;
    right: 90%;
  }
}

.box_content {
  position: relative;
  z-index: 2;
  color: #fff;
  width: 200px;
  height: 200px;
  background: #0e1538;
}
