marker标签样式 .amap-marker.active {
  z-index: 20 !important;
}
.amap-marker .amap-marker-label {
  padding: 0;
  background-color: transparent;
  border: none;
}
.amap-marker .amap-marker-label .cstm-icon-panel {
  position: relative;
  user-select: none;
}
.cstm-icon-panel .cstm-icon-name {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 120px;
  height: 23px;
  color: #0efefe;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  transform: translateX(-50%);
}
.cstm-icon-panel .cstm-icon-img {
  position: relative;
  z-index: 1;
}

/* 关闭弹框按钮 */
.ant-modal-close .ant-modal-close-x {
  width: 15px;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
}

/* 弹框内容 */
.pop_zm {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  background: #082c2a;
}

/* 聚合标注样式 */
.merge {
  background-color: rgba(255, 255, 178, 0.9);
  height: 18px;
  width: 18px;
  border: 1px solid rgba(255, 255, 178, 1);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 3px;
}

/* 聚合大小 */
.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(241, 128, 23);
}
