@font-face {
  font-family: "iconfont"; /* Project id 3163971 */
  src: url('iconfont.woff2?t=1689141553394') format('woff2'),
       url('iconfont.woff?t=1689141553394') format('woff'),
       url('iconfont.ttf?t=1689141553394') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duoyun:before {
  content: "\e600";
}

.icon-xiaoyu:before {
  content: "\e601";
}

.icon-leidian:before {
  content: "\e602";
}

.icon-dongyu:before {
  content: "\e603";
}

.icon-yujiaxue:before {
  content: "\e604";
}

.icon-daxue:before {
  content: "\e605";
}

.icon-zhongxue:before {
  content: "\e606";
}

.icon-dayu:before {
  content: "\e607";
}

.icon-tianqi:before {
  content: "\e694";
}

.icon-tianqi1:before {
  content: "\e61b";
}

.icon-Hailstorm-Night:before {
  content: "\e9ad";
}

.icon-tianqi2:before {
  content: "\e66c";
}

.icon-tianqi-leidiantianqi:before {
  content: "\e6dc";
}

.icon-tianqitianqi:before {
  content: "\e73e";
}

